.btn { font-family:cursive;
    font-weight: lighter;

}

h1{
    font-family:monospace;
    font-size: large;
    font-weight: lighter;
    color: ivory;
    padding: 5%;
    margin: 0 auto;
    height: 0 auto;
    width: 0 auto;
}
body{
    position: relative;
    background-image: url(/js-projects/images/js-bg.png);
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-style: groove;
    border: rgb(47, 47, 9);
    border-radius: 22%;
}